.home-section{
    background: url('./assets/img/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.67);
    background-blend-mode: overlay;
    width: 98%;
    height: 97vh;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all .2s ease-in;
    box-shadow: 0 0 24px 5px rgb(9 253 244);
    border-radius: 14px;
    position: relative;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    .film-filter{
        background: transparent url('./assets/img/damaged-film.jpg') no-repeat center center scroll;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .0375;
        pointer-events: none;
    }
    &__buttons{
        position: absolute;
        bottom: 25px;
        width: 100%;
        max-width: 990px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%);
      
    }
    &__text{
        width: 100%;
        max-width: 682px;
        h1{
            font-size: 6vw;
            margin: 0 auto;
            color: #00FFFF;
            font-weight: 700;
            background: -webkit-linear-gradient(#00FFFF, #EBE8C3);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            padding-bottom: 4rem;
            line-height: 5rem;
        }
    }

}
.btn{
    color: #E19E29;
    /* margin-top: 20px; */
    border: 3px solid rgba(225, 158, 41, 0.6);
    border-radius: 20em;
    -webkit-box-shadow: 0 0 24px 5px rgba(225, 158, 41, 0.5);
    box-shadow: 0 0 24px 5px rgba(225, 158, 41, 0.5);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    width: 280px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover{
        -webkit-box-shadow: 0 0 24px 5px rgba(225, 158, 41, 0.95);
        box-shadow: 0 0 24px 5px rgba(225, 158, 41, 0.95);
    }
}
.sidebar{
    position: fixed;
    top: 0;
    right: -90%;
    background-color: #17162d;
    padding: 2rem;
    height: 100vh;
    box-shadow: 0 0 24px 5px rgb(35 195 190);
    z-index: 11;
    width: 90%;
    max-width: 474px;
    box-sizing: border-box;
    transition: all .5s cubic-bezier(.65,.3,0,1);
    .link{
        color: white;
    }
    &.active-sidebar{
		right: 0;
	}
    .close{
        position: absolute;
        top: 15px;
        left: 21px;
        font-size: 1rem;
        color: white;
        cursor: pointer;
    }
    &__title{
        color: white;
        font-size: 3rem;
    }
    p{
        color: #ffffff;
        font-size: 1.4rem;
    }
    ul{
        li{
            color: white;
            font-size: 2rem;
        }
    }
    .btn-cta{
        width: 172px;
        display: block;
        margin-top: 3rem;
        cursor: pointer;
    }
}

@keyframes sidebar-active{
    from {right: -50%;}
    to{right:0;}
}
@-moz-keyframes sidebar-active{
    from {right: -50%;}
    to{right:0;}
}
@-webkit-keyframes sidebar-active{
    from {right: -50%;}
    to{right:0;}
}

@media (max-width: 720px){
    .home-section{
  
        &__buttons{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__text{
            h1{
                font-size: 3rem;
                line-height: 3rem;
                padding: 1rem;
            }
        }
    
    }
    
    

}