<section class="home-section">
    <div class="film-filter"></div>
    <div class="home-section__container">

        <div class="home-section__text">
            <h1>HenryGBC,
                <br>
                Amor por crear mediante código
            </h1>
        </div>
    </div>

    <div class="home-section__buttons">

        <a class="btn btn-primary" href="#" target="_blank">
            Mis posts
        </a>
        
        <a class="btn btn-primary" href="#" target="_blank">
            Mi código
        </a>
        
        <a class="btn btn-primary" href="#" target="_blank">
           Para mentoria
        </a>
    </div>
</section>